  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Phần I. HÀM SỐ</h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button" routerLink = "/baigiang">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3> Phần II. HÀM SỐ MŨ - LOGARIT </h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Phần III. NGUYÊN HÀM - TÍCH PHÂN</h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Phần IV. Số phức</h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Phần V. HÌNH HỌC KHÔNG GIAN</h3>
          <br>
          <p class="text-left text-primary">
            <a href="#" class="btn btn-primary" role="button">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Phần IV. HÌNH HỌC GIẢI TÍCH TRONG KHÔNG GIAN</h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button">Xem bài giảng</a>
          </p>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br> 