<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <h3 class="text-primary">Phần I. HÀM SỐ</h3>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="section">
  <div class="container">
    <div class="row" *ngIf="bg">
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            <a>{{bg.name}}</a>

          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="bg.src | safe" allowfullscreen=""></iframe>
        </div>
        <br>
      </div>
      <br>
      <br>
      <br>
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Tài liệu tải về</h3>
          </div>
          <div class="panel-body">
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="{{bg.src1}}"><img class="media-object" src="https://image.flaticon.com/icons/svg/136/136522.svg" height="40" width="40"></a>
                <div class="media-body">
                  <a class="media--object" href="{{bg.src1}}">Bài tập tự luyện</a>
                </div>
              </li>
              <li class="media">
                <a class="pull-left" href="{{bg.src2}}"><img class="media-object" src="https://image.flaticon.com/icons/svg/136/136522.svg" height="40" width="40"></a>
                <div class="media-body">
                  <a class="media--object" href="{{bg.src2}}">Đáp án bài tập tự luyện</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>