<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let question of questions">
        <ul class="breadcrumb">
          <h4><span *ngIf="question.status=='correct'" class="glyphicon glyphicon-ok" style="color: green"></span>
            <span *ngIf="question.status && question.status!='correct'" class="glyphicon glyphicon-remove" style="color:red"></span>            {{ question.question }}</h4>
      
          <br>
          <div *ngFor="let option of question.answer">
            <div>
              <label>
        <input class="answer" type="radio" name="{{question.id}}" (click)="saveStatus(question, option.value)"> {{option.text}}
        </label>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

</div>
<br>
<h2 class="text-center">
  <a class="btn btn-lg btn-primary" role="button" (click)="check()">NỘP BÀI</a>
</h2>
<h1 class="text-center" *ngIf="show">Số câu đúng: {{correct}}</h2>
<p></p>
<br>
<br>
<br>
