<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Các bài giảng hiện có</h1>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <h3>Đề thi thử THPT Quốc gia môn hóa - THPT chuyên KHTN năm 2017</h3>
          <br>
          <p class="text-left">
            <a href="#" class="btn btn-primary" role="button">Xem đề thi</a>
            <a href="#" class="btn btn-primary" role="button">Tải đề thi</a>
          </p>
          <p></p>
        </ul>
      </div>
    </div>
  </div>
</div>
